<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Folder Structure Generator</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="bg-gray-100 font-sans">
    <div class="container mx-auto p-8">
      <h1 class="text-4xl font-bold text-center text-indigo-600 mb-8">
        Folder Structure Generator
      </h1>

      <!-- Form -->
      <form
        id="folderForm"
        method="POST"
        action="/"
        class="bg-white p-8 rounded-lg shadow-md mx-auto space-y-6"
      >
        <div id="repo_input_container" style="display: none">
          <label for="repo_input" class="block text-gray-700 font-semibold"
            >Enter GitHub Repository URL:</label
          >
          <input
            type="text"
            name="repo_input"
            id="repo_input"
            class="mt-2 p-3 w-full border rounded-lg border-gray-300 focus:outline-none focus:ring-2 focus:ring-indigo-500"
          />
        </div>

        <div>
          <label for="repo_type" class="block text-gray-700 font-semibold"
            >Choose Repository Type:</label
          >
          <div class="flex mt-2">
            <div class="mr-4">
              <input
                type="radio"
                name="repo_type"
                value="url"
                id="url_option"
                class="mr-2"
                checked
              />
              <label for="url_option" class="text-gray-700">URL</label>
            </div>
            <div>
              <input
                type="radio"
                name="repo_type"
                value="local"
                id="local_option"
                class="mr-2"
              />
              <label for="local_option" class="text-gray-700"
                >Local Directory</label
              >
            </div>
          </div>
          <div
            id="generate_container"
            class="flex flex-col space-y-2.5"
            style="display: none"
          >
            <!-- GitHub PAT input field -->
            <div id="pat_field">
              <label for="token_input" class="block text-gray-700 font-semibold"
                >Enter GitHub Personal Access Token:</label
              >
              <input
                type="password"
                name="token_input"
                class="mt-2 p-3 w-full border rounded-lg border-gray-300 focus:outline-none focus:ring-2 focus:ring-indigo-500"
              />
            </div>

            <button
              id="generate_button"
              type="submit"
              class="p-3 py-3 bg-indigo-600 text-white rounded-lg shadow-md hover:bg-indigo-700 transition ease-in-out duration-300"
            >
              Generate Folder Structure
            </button>
          </div>
        </div>

        <!-- Directory Chooser Button -->
        <div id="directoryChooser" style="display: none">
          <button
            type="button"
            id="pick-folder"
            ̀
            class="px-6 py-2 bg-indigo-600 text-white rounded-lg shadow-md hover:bg-indigo-700 transition ease-in-out duration-300"
          >
            Pick a Folder
          </button>
        </div>

        <!-- Folder Structure Output -->
        <div class="flex items-center justify-between">
          <label for="folder-structure" class="block text-gray-700 font-semibold">
            Folder Structure:
          </label>
          <button
            id="copyBtn"
            class="px-6 py-2 bg-indigo-600 text-white rounded-lg shadow-md hover:bg-indigo-700 transition ease-in-out duration-300"
          >
            Copy
          </button>
        </div>
          <pre
            id="folder-structure"
            class="bg-gray-100 p-4 mt-4 rounded-lg font-mono text-sm text-gray-700 whitespace-pre-wrap"
          ></pre>
        </div>
      </form>
      <!-- Error Message -->
      <div
        id="error-message"
        class="mt-6 text-center text-red-500 font-semibold"
      ></div>
    </div>
    <script>
      const folderStructure = `{{ folder_structure | safe }}`;
      const errorMessage = "{{ error_message | safe }}";
    </script>

    <script src="/static/script.js"></script>
  </body>
</html>
